In [13]:
import pandas as pd

In [15]:
input_data_path = "housing.csv"
EXPECTED_FEATURES = [
    'longitude', 'latitude', 'housing_median_age', 'total_rooms',
    'total_bedrooms', 'population', 'households', 'median_income',
    'ocean_proximity__LT_1H_OCEAN', 'ocean_proximity_INLAND',
    'ocean_proximity_ISLAND', 'ocean_proximity_NEAR_BAY',
    'ocean_proximity_NEAR_OCEAN'
]

In [16]:
df =  pd.read_csv(input_data_path)
df

,LONGITUDE,LAT,MEDIAN_AGE,ROOMS,BEDROOMS,POP,HOUSEHOLDS,MEDIAN_INCOME,MEDIAN_HOUSE_VALUE,OCEAN_PROXIMITY,AGENCY
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [17]:
# Step 2: Validate minimum columns
if df.shape[1] < 2:
    print(f"Insufficient columns in file: {input_data_path}")
else:
    print("File check OK")

File check OK

In [18]:
# Step 3: Normalize column names
df.columns = df.columns.str.lower()
print(f"Normalized column names: {list(df.columns)}")
df

Normalized column names: ['longitude', 'lat', 'median_age', 'rooms', 'bedrooms', 'pop', 'households', 'median_income', 'median_house_value', 'ocean_proximity', 'agency']

,longitude,lat,median_age,rooms,bedrooms,pop,households,median_income,median_house_value,ocean_proximity,agency
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [19]:
# Step 4: Rename columns for consistency
column_renames = {
    "lat": "latitude",
    "bedrooms": "total_bedrooms",
    "median_age": "housing_median_age",
    "pop": "population",
    "rooms": "total_rooms",
}
df.rename(columns=column_renames, inplace=True)
print(f"Renamed columns: {list(df.columns)}")
df

Renamed columns: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity', 'agency']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,agency
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [20]:
# Step 5: Encode categorical variables
if "ocean_proximity" in df.columns:
    df = pd.get_dummies(df, columns=["ocean_proximity"], drop_first=False)
    print(f"Encoded 'ocean_proximity' column. Current columns: {list(df.columns)}")
else:
    print("'ocean_proximity' column not found. Skipping encoding.")
df

Encoded 'ocean_proximity' column. Current columns: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'agency', 'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND', 'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN', 'ocean_proximity_Null', 'ocean_proximity_OUT OF REACH']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,agency,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,ocean_proximity_Null,ocean_proximity_OUT OF REACH
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,YES,0,0,0,1,0,0,0
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,YES,0,0,0,1,0,0,0
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,YES,0,0,0,1,0,0,0
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,YES,0,0,0,1,0,0,0
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,YES,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,YES,0,1,0,0,0,0,0
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,YES,0,1,0,0,0,0,0
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,YES,0,1,0,0,0,0,0
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,YES,0,1,0,0,0,0,0
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,YES,0,1,0,0,0,0,0

In [21]:
# Step 6: Handle missing or unexpected values
df.replace("Null", 0, inplace=True)
df.fillna(0, inplace=True)
print(
    "Handled missing and unexpected values (replaced 'Null', filled NaNs)."
)
df

Handled missing and unexpected values (replaced 'Null', filled NaNs).

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,agency,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,ocean_proximity_Null,ocean_proximity_OUT OF REACH
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,YES,0,0,0,1,0,0,0
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,YES,0,0,0,1,0,0,0
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,YES,0,0,0,1,0,0,0
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,YES,0,0,0,1,0,0,0
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,YES,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,YES,0,1,0,0,0,0,0
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,YES,0,1,0,0,0,0,0
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,YES,0,1,0,0,0,0,0
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,YES,0,1,0,0,0,0,0
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,YES,0,1,0,0,0,0,0

In [22]:
# Step 7: Validate target column
target = "median_house_value"
if target not in df.columns:
    print(f"Target column '{target}' not found in the dataset.")
else:
    print(f"Target column found: {target}")

Target column found: median_house_value

In [23]:
# Step 8: Separate features and target; for passing data to model
y = df[target]
X = df.drop(columns=[target])
print(
    f"Separated target column '{target}'. Features shape: {X.shape}, Target shape: {y.shape}"
)
print(f"y: {y}")
print(f"X: {X}")

Separated target column 'median_house_value'. Features shape: (20639, 16), Target shape: (20639,)
y: 0        358500.0
1        352100.0
2        341300.0
3        342200.0
4        269700.0
           ...
20634     78100.0
20635     77100.0
20636     92300.0
20637     84700.0
20638     89400.0
Name: median_house_value, Length: 20639, dtype: object
X:        longitude  latitude housing_median_age total_rooms total_bedrooms  \
0        -122.22     37.86               21.0      7099.0         1106.0
1        -122.24     37.85               52.0      1467.0          190.0
2        -122.25     37.85               52.0      1274.0          235.0
3        -122.25     37.85               52.0      1627.0          280.0
4        -122.25     37.85               52.0       919.0          213.0
...          ...       ...                ...         ...            ...
20634    -121.09     39.48               25.0      1665.0          374.0
20635    -121.21     39.49               18.0       697.0          150.0
20636    -121.22     39.43               17.0      2254.0          485.0
20637    -121.32     39.43               18.0      1860.0          409.0
20638    -121.24     39.37               16.0      2785.0          616.0

      population households median_income agency  ocean_proximity_<1H OCEAN  \
0         2401.0     1138.0        8.3014    YES                          0
1          496.0      177.0        7.2574    YES                          0
2          558.0      219.0        5.6431    YES                          0
3          565.0      259.0        3.8462    YES                          0
4          413.0      193.0        4.0368    YES                          0
...          ...        ...           ...    ...                        ...
20634      845.0      330.0        1.5603    YES                          0
20635      356.0      114.0        2.5568    YES                          0
20636     1007.0      433.0           1.7    YES                          0
20637      741.0      349.0        1.8672    YES                          0
20638     1387.0      530.0        2.3886    YES                          0

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
20634                       1                       0
20635                       1                       0
20636                       1                       0
20637                       1                       0
20638                       1                       0

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN  \
0                             1                           0
1                             1                           0
2                             1                           0
3                             1                           0
4                             1                           0
...                         ...                         ...
20634                         0                           0
20635                         0                           0
20636                         0                           0
20637                         0                           0
20638                         0                           0

       ocean_proximity_Null  ocean_proximity_OUT OF REACH
0                         0                             0
1                         0                             0
2                         0                             0
3                         0                             0
4                         0                             0
...                     ...                           ...
20634                     0                             0
20635                     0                             0
20636                     0                             0
20637                     0                             0
20638                     0                             0

[20639 rows x 16 columns]

In [25]:
# Step 9: Align features with the expected schema
for col in EXPECTED_FEATURES:
    if col not in X.columns:
        X[col] = 0  # Add missing columns as 0
        print(f"Added missing column '{col}' with default value 0.")
X = X[EXPECTED_FEATURES]
print(f"Aligned features with the expected schema. Final shape: {X.shape}")

print("Data preprocessing completed successfully.")

Added missing column 'ocean_proximity__LT_1H_OCEAN' with default value 0.
Added missing column 'ocean_proximity_NEAR_BAY' with default value 0.
Added missing column 'ocean_proximity_NEAR_OCEAN' with default value 0.
Aligned features with the expected schema. Final shape: (20639, 13)
Data preprocessing completed successfully.

In [26]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity__LT_1H_OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR_BAY,ocean_proximity_NEAR_OCEAN
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0,0,0,0,0
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,0,0,0,0,0
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,0,0,0,0,0
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,0,0,0,0,0
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,0,1,0,0,0
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,0,1,0,0,0
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,0,1,0,0,0
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,0,1,0,0,0
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,0,1,0,0,0